link(href="/javascripts/app/dist/css/app.73a80e791dba0227ed9c01c4235b32e8.css" rel="stylesheet")
script(src="/javascripts/app/dist/js/manifest.80d78dbb84397c7a31ba.js" type="text/javascript")
script(src="/javascripts/app/dist/js/vendor.4f022f34b6956a92f037.js" type="text/javascript")
script(src="/javascripts/app/dist/js/app.752d9396526652afcc50.js" type="text/javascript")

