extends layout

block content
  .okd-container
    p Этот сервис позволяет быстро скачать все ваши фотографии из социальной сети "Одноклассники".
    p Вот как это работает:
    ol
      li войдите с помощью кнопки ниже
      li сервис отобразит все ваши альбомы с фотографиями
      li нажимаете кнопку "Скачать"
      li сервис скачивает все ваши альбомы и архивирует в ZIP
      li вы скачиваете ZIP архив

  .okd-login-container
    a.btn-auth(href="/auth")
      | Войти с помощью
      img(src="images/ok.png")