doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block header
  body
    .main-container
      h1.okd-site-title
        a(href="/")
          img(src="/images/logo.png")
          span Скачиватель фотографий (Одноклассники)
      hr

      block content

      div.okd-copyright
        a(href="https://codeville.ru" target="_blank")
          img(src="/images/cv.png")
        a(href="/policy" target="_blank") Политика конфиденциальности

      block footer