extends layout

block content
  h3 Использование/обработка персональных данных
  p
    | Данный сервис не несёт в себе направленных целей по сбору или обработке персональных данных пользователей, поэтому все личные данные пользователя, такие как список альбомов, имя и прочая конфиденциальная информация не сохраняется на стороне сервиса.
  p
    | Для получения необходимых для работы данных, сервис использует технологии социальной сети "Одноклассники", в частности, авторизацию с помощью социальной сети и создание долгоживущего токена, который требуется сервису для выполнения запросов к социальной сети.
  p
    | Токен и уникальный идентификатор хранятся на стороне сервиса до тех пор, пока пользователь не выйдет из сервиса, нажав соответствующую кнопку (Выход), при этом действии будет удалена вся информация о текущем пользователе, а также созданные архивы фотографий.
  p
    | Ссылки на архивы, создаваемые пользователем, являются доступными для скачивания без необходимости авторизовываться, т.е. являются публичными.
  p
    strong Скачивание архивов по этим ссылкам возможно до момента выхода пользователя (при этом архивы удаляются в кратчайшее время, в зависимости от загруженности сервера), либо в течение 2 часов с момента создания архива, после чего эти архивы удаляются. При это из системы также удаляются данные о токене и ИД пользователя.