extends layout
- var baseUrl = '/app'

block content
  .okd-container
    h3 Использование/обработка персональных данных
    p
      | Данный сервис не несёт в себе направленных целей по сбору, хранению или обработке персональных данных пользователей, поэтому все личные данные пользователя, такие как список альбомов, имя и прочая конфиденциальная информация хранится до конца сессии пользователя
      i (например, до момента выхода из системы по нажатию соответствующей кнопки "Выход")&nbsp;
      | исключительно для обеспечения возможности предоставления услуги.
    p
      | Для получения необходимых для работы данных, сервис использует технологии социальной сети
      b "Одноклассники"
      | , в частности, авторизацию с помощью официальных средств социальной сети и создание "долгоживущего" токена, который требуется сервису для выполнения запросов к социальной сети.
    p
      | Токен и уникальный идентификатор хранятся на стороне сервиса до тех пор, пока пользователь не завершит свою сессию, нажав соответствующую кнопку (Выход). При выполнении этого действия будет удалена вся информация о текущем пользователе, включая токен, а также все фактически созданные сервисом архивы фотографий для этого пользователя.
    p
      | Ссылки на архивы, создаваемые сервисом, являются доступными для скачивания без необходимости авторизовываться, т.е. являются публичными. Ссылки не публикуются сервисом нигде, кроме личного кабинета пользователя.
    p
      strong Скачивание архивов по этим ссылкам возможно до завершения сессии пользователя (при завершении сессии архивы удаляются в кратчайшее время, в зависимости от загруженности сервера), либо в течение 2 часов с момента создания архива.